/*General*/
:root{
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Quicksand', sans-serif;
   /*font-family: 'Roboto', sans-serif;*/
}

.inactive{
    display: none;
}

/*Navbar (general)*/
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 2.4rem;
}

nav .mobile-menu{
    display: none;
}

.menu{
    display: none;
}

.logo{
    width: 10rem;
}

.navbar-left ul,
.navbar-right ul{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: var(--sm);
    height: 6rem;
}

.navbar-left{
    display: flex;
}

.navbar-left ul{
    margin-left: 1.2rem;
}

.navbar-left ul li a,
.navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: .1rem solid var(--white);
    font-size: var(--sm);
    padding: .8rem;
    border-radius: .8rem;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    border: .1rem solid var(--hospital-green);
    color: var(--hospital-green);
}

.navbar-email{
    display: flex;
    cursor: pointer;
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin: 1.2rem;
}

.navbar-shopping-cart{
    position: relative;
}

.navbar-shopping-cart div{
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -.6rem;
    right: -.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Menú en Desktop*/
.desktop-menu{
    position: absolute;
    top: 6rem;
    right: 4.25rem;
    background: var(--white);
    width: 15rem;
    height: auto;
    border: .1rem solid var(--very-light-pink);
    border-radius: .6rem;
    padding: 2rem 2rem 0 2rem;
}

.desktop-menu ul{
    list-style: none; 
}

.desktop-menu ul li{
    text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2){
    font-weight: bold;
    font-size: var(--md);
}

.desktop-menu ul li:last-child{
    padding-top: 2rem;
    border-top: solid .1rem var(--very-light-pink);
}

.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a{
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2rem;
}
