:root{
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.cards-container{
    display: grid;
    /* Número de columnas y tamaño de cada columa*/
    /*auto-fill se llena automáticamente dependiendo de la cantidad que quepa*/
    grid-template-columns: repeat(auto-fill,24rem);
    gap: 2.6rem;
    place-content: center;
}

.product-card{
    width:24rem
}

.product-card img{
    width: 24rem;
    height: 24rem;
    border-radius: 2rem;
    /*object-fit:cover la imagen se ajusta a su tamaño tal cual independientemente del width y del height*/
    object-fit: cover;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info figure{
    margin: 0;
}

.product-info figure img{
    width: 3.5rem;
    height: 3.5rem;
}